.hidden {
    display: none !important;
}
    
    
    
    body{
    
    margin:0;
    
    background:#111;
    
    color:white;
    
    font-family:Arial, sans-serif;
    
    display:flex;
    
    justify-content:center;
    
    align-items:center;
    
    height:100vh;
    
    }
    
    
    
    .container{
    
    width:600px;
    
    max-width:90%;
    
    text-align:center;
    
    }
    
    
    
    #home,
    #game{
    
    background:#222;
    
    padding:40px;
    
    border-radius:20px;
    
    box-shadow:0 10px 30px black;
    
    }
    
    
    
    h1{
    
    font-size:20px;
    
    }
    
    
    
    .intro{
    
    line-height:1.6;
    
    font-size:18px;
    
    }
    
    
    
    button{
    
    margin-top:25px;
    
    padding:15px 30px;
    
    font-size:15px;
    
    border-radius:10px;
    
    border:none;
    
    cursor:pointer;
    
    background:#c9a45c;
    
    }
    
    
    
    button:hover{
    
    transform:scale(1.05);
    
    }
    
    
    
    input{
    
    padding:10px;
    
    font-size:17px;
    
    width:150px;

    border-radius:5px;
    
    text-align:center;
    
    }

    
    
    .history-button{
        margin:4px;
        padding:6px 10px;
        border-radius:8px;
        cursor:pointer;
    }
  
    .history-button.active {

        background:#c9a45c;
    
        color:white;
    
        transform:scale(1.1);
    
    }

    .game-layout {

        display:flex;
    
        gap:20px;
    
        align-items:flex-start;
    
    }
    
    
    #content {
    
        flex:1;
    
    }
    
    
    #history {

        background:#1b263b;
    
        color:white;
    
        padding:15px;
    
        border-radius:15px;
        margin-top:40px;
    
    }
    
    
    #history h3 {
    
        margin-top:0;
    
    }
    
    
    .history-button {
    
        display:block;
    
        width:100%;
    
        margin:5px 0;
    
        padding:8px;
    
        border-radius:8px;
    
        cursor:pointer;
    
    }

    @media(max-width:700px){

        .game-layout{
        
            flex-direction:column;
        
        }
        
        
        #history{
        
            width:100%;
        
            display:flex;
        
            overflow-x:auto;
        
        }
        
        
        .history-button{
        
            min-width:60px;
        
        }
        
        }